appdirs==1.4.3
attrs==19.1.0
Click==7.0
Flask==1.1.1
Flask-WTF==0.14.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
lml==0.0.9
MarkupSafe==1.1.1
numpy==1.17.2
pandas==0.25.1
pyexcel==0.5.15
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
python-dateutil==2.8.0
pytz==2019.2
six==1.12.0
texttable==1.6.2
toml==0.10.0
Werkzeug==0.16.0
WTForms==2.2.1
xlrd==1.2.0
